<!--
<p>
  calc works!
</p>
-->
<div class="body">
  <div class="container">
    <p>
      This component works exactly like the calculator you know. Click any number to start calculating!
    </p>
    <div class="calculator">
      <div class="calculator__display">{{result}}</div>

      <div class="calculator__keys">
        <button class="key--operator" (click)="arithmeticOperation('+')">+</button>
        <button class="key--operator" (click)="arithmeticOperation('-')">-</button>
        <button class="key--operator" (click)="arithmeticOperation('×')">&times;</button>
        <button class="key--operator" (click)="arithmeticOperation('/')">÷</button>
        <button (click)="insertNumber('7')">7</button>
        <button (click)="insertNumber('8')">8</button>
        <button (click)="insertNumber('9')">9</button>
        <button (click)="insertNumber('4')">4</button>
        <button (click)="insertNumber('5')">5</button>
        <button (click)="insertNumber('6')">6</button>
        <button (click)="insertNumber('1')">1</button>
        <button (click)="insertNumber('2')">2</button>
        <button (click)="insertNumber('3')">3</button>
        <button (click)="insertNumber('0')">0</button>
        <button (click)="insertDot()">.</button>
        <button (click)="clearDisplay()">AC</button>
        <button class="key--equal" data-action="calculate" (click)="showResult()">=</button>
      </div>
    </div>
  </div>
</div>


